<%- include ('header') -%>
<div class="about__container">
    <p class="about__text">A simple crud friendslist i made with NodeJs, ExpressJs, Mysql ,EJS and Bootstrap.</p>
</div>
<%- include ('footer') -%>