<%- include ('header') -%>
<div class="friends__table">
    <%- include ('table') -%>
</div>
<a href="/create"><button type="button" class="btn btn-warning create__friend"> + Create Friend</button></a>